<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home!</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js";></script> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        html, body { 
            margin: 0 !important; 
            padding: 0 !important; 
            overflow: hidden !important; 
            width: 100%; 
        } 
    </style>

    <script>

        function blob_model(formData){
            console.log(String(formData))
            let blob_value = ''
            $.ajax({ 
                type: "GET", 
                url:'blob/', 
                data : {'blob_url': String(formData)}, 
                dataType:"json",
                success:function(data){ 
                    blob_value = data['blob_url']
                    console.log(blob_value)
                } ,
                error: function (error) {
                   console.log(error);
                   blob_value = '0'
               }
            }) 	
            return blob_value
        }
        function promise_blob(formData){
            return new Promise((resolve, reject) => {
    
                let target = blob_model(formData)
                // 0.4초 안에 통신이 안되면, 에러 발생( promise 객체 이용 )
                setTimeout(() => {
                    if (target != undefined){
                        resolve(target)
                    } else {
                        reject('서버에 문제가 발생하여 인식하지 못했습니다.\n 다시 시도해주세요.')
                    }
                }, 400)
            })
        }

        function search(texts) {
            let search_key = texts
            let search_var = ''
            $.ajax({ 
                type: "GET", 
                url:'search/', 
                data : { 'search_key':search_key}, 
                dataType: 'json',
                async:false,
                success:function(data){ 
                    search_var = data['search_key']
                } ,
                error: function (error) {
                   // console.log(error);
                   search_var = '0'
               }
            }) 	
            return search_var
        }
    
        function promise_search(texts){
            return new Promise((resolve, reject) => {
    
                let target = search(texts)
                // 0.4초 안에 통신이 안되면, 에러 발생( promise 객체 이용 )
                setTimeout(() => {
                    if (target != undefined){
                        resolve(target)
                    } else {
                        reject('서버에 문제가 발생하여 인식하지 못했습니다.\n 다시 시도해주세요.')
                    }
                }, 400)
            })
        }
    </script>
   
</head>
<body>

<button id="stop">버튼</button>
<button id="btn-start-recording">Start Recording</button> 
<button id="btn-stop-recording" disabled>Stop Recording</button> 

<hr>
<audio controls autoplay></audio>

<!-- CDN -->



<div class="words" contenteditable>
    <p class="change"></p>
</div>



<script>
window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

let recognition = new SpeechRecognition();
recognition.interimResults = false;
recognition.lang = 'ko-KR';



let p = null;

var recorder; // globally accessible 
{% comment %} document.getElementById('btn-start-recording').onclick = function () { 
    
document.getElementById('btn-stop-recording').onclick = function () { 
    
};  {% endcomment %}



recognition.start();
recognition.onstart = function() {

    this.disabled = true; 
    captureMicrophone(function (microphone) { 
        var binaryData = [];
        binaryData.push(microphone);
        window.URL.createObjectURL(new Blob(binaryData, {type: "audio.wav"}))
        audio.play(); 
        recorder = RecordRTC(microphone, { 
            type: 'audio', 
            recorderType: StereoAudioRecorder, 
            numberOfAudioChannels: 1, // or leftChannel:true 
            desiredSampRate: 16000 
        }); 
        recorder.startRecording(); 
        // release microphone on stopRecording
        recorder.microphone = microphone; 
        document.getElementById('btn-stop-recording').disabled = false; 
        }); 
}; 

recognition.onend = function() {
    this.disabled = true; 
    recorder.stopRecording(stopRecordingCallback); 
    document.getElementById('btn-start-recording').disabled = false; 

    recognition.stop();
};

document.querySelector("#stop").onclick = () => {
    recognition.start();
  };

  recognition.onresult = function(e) {
    let texts = Array.from(e.results)
            .map(results => results[0].transcript).join("");

    $('.change').text(texts);
    
    promise_search(texts)
        .then((target) => {
            console.log(target)
        })
        .catch((error) => {
            console.log(error)
        })
}; 
var audio = document.querySelector('audio'); 
function captureMicrophone(callback) { 
    navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia; 
    navigator.getUserMedia({audio: true}, callback, function (error) { 
        alert('Unable to access your microphone.'); 
         console.error(error); 
    }); 
} 


function stopRecordingCallback() { 
    var blob = recorder.getBlob(); 
    audio.src = URL.createObjectURL(blob); 
    audio.play(); 
    recorder.microphone.stop(); 
    console.log(blob)


    createAudioElement(window.URL.createObjectURL(blob)); 
} 






function createAudioElement(blobUrl) { 
    const downloadEl = document.createElement('a'); 
    downloadEl.style = 'display: block'; 
    downloadEl.innerHTML = 'download'; 
    downloadEl.download = 'audio.wav'; 
    downloadEl.href = blobUrl; 
    const audioEl = document.createElement('audio'); 
    audioEl.controls = true; 
    const sourceEl = document.createElement('source'); 
    sourceEl.src = blobUrl; 
    sourceEl.type = 'audio/wav'; 
    audioEl.appendChild(sourceEl); 
    document.body.appendChild(audioEl); 
    document.body.appendChild(downloadEl);

    axios.get({
        url: 'http://127.0.0.1:8000/save_audio/',
        data: {
            'url': blobUrl,
        }
    })
    .then((res) => {
        console.log(res)
    })

    {% comment %} promise_blob(blobUrl)
    .then((target) => {
        console.log(target)
    })
    .catch((error) => {
        console.log(error)
    }) {% endcomment %}
} 


</script>


<style>
    html {
    font-size: 10px;
    }

    body {
    background: #ffc600;
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
    }

    .words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
    }

    p {
    margin: 0 0 3rem;
    }

    .words:before {
    content: '';
    position: absolute; 
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
    }
    
</style>
</body>
</html>

